
 *{
     box-sizing: border-box;
 }
 body{
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
    background-position: center;
  }
  header{
      padding: 0px;
      text-align: center;
      font-size: 40px;
      color: dimgray;
      margin: 0px auto;
  }
  nav{
      float: left;
      width: 15%;
      background:  beige;
      padding: 0px;
      /*height: 55vh;*/
      height: 100vh;
  }

  nav ul{
      list-style-type: none;
      padding: 0px;
  }
  h1{
      text-align: center;
        color:  goldenrod;
        height: 3%;
        background-color: beige;
  }

  form{
      height: 100%;
  }
  
  input{
    border: 0; 
    padding: 10px;
    font-size: 10px;
  }

  section::after{
    content: "";
    display: table;
    clear: both;
  }
  article{
      float: left;
      padding-top: 0px;
      padding-left: 20px;
      width: 85%;
      height: 100vh;
  }

  footer{
      position: fixed;
      background-color:aliceblue;
      padding: 20px;
      text-align: center;
      color:rgb(91, 95, 100);
      left: 0;
      bottom: 0;
      width: 100%;
  }
  p {
    font-family: courier;
    color: #154360;
    size: 18px;
  }

  img{
      position: relative;
      border-radius: 50%;
      align-self: center;
      width: 200px;
      alt: "Hanan";
  }
  @media (max-width: 600px){
      nav,article{
          width: 100%;
          height: auto;
      }
  }

/*ul { list-style-type: none; margin: 0; padding: 0; width: 200px; background-color: #f1f1f1; border: 1px solid #555; }*/
  li {
    text-align: left;
    border-bottom: 1px;
    }

li a {
display: block;
color: navy;
padding: 8px 16px;
text-decoration: #34495E;
font-weight: bold;
}




li:last-child {
border-bottom: none;
}

li a.active {
background-color: royalblue;
color: goldenrod;
}

li a:hover:not(.active) {
background-color: #555;
color: white;
}

table{
border-spacing: 2em .5em;
}

td input{
    border: rgb(214, 195, 195) solid 1px;
}

label{
    font-weight: bold;
}


input{
    border: 0; 
    padding: 10px;
    font-size: 12px;
  }
  
  input[type="submit"]{
   
    background: dimgray;
    color: white;
  }